table {
    border: 2px solid black;
    width: 900px;
    height: 400px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    font-size: 10px;
    vertical-align: top;
    height: 100px;
    width: 900px;
}

tr {
    height: 25px;
}

.sun {
    color: red;
}

.sat {
    color: blue;
}

.day {
    font-size: 10px;
}

.change:hover {
    background: skyblue;
}

tr {
    font-weight: 700;
}

ul {
    list-style-position: inside;
    background-color: rgb(234, 201, 250);
    font-weight: lighter;
}