.container {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 100px);
    gap:20px;
    grid-template-areas:
    "box1 box1 box1"
    "box2 box3 box3"
    "box2 box4 box5";
}

.items {
    padding: 15px;
    text-align: center;
}

.box1 {
    background-color: blue;
    grid-area: box1;
    /* grid-column: 1/4; */
    /* grid-row-start: 1; */
}

.box2 {
    background-color: green;
    grid-area: box2;
    /* grid-column-start: 1; */
    /* grid-row: 2/4; */
}

.box3 {
    background-color: orange;
    grid-area: box3;
    /* grid-column: 2/4; */
    /* grid-row: 2/3; */
}

.box4 {
    background-color: yellow;
    grid-area: box4;
    /* grid-column: 2/3;
    grid-row: 3/4; */
}

.box5 {
    background-color: red;
    grid-area: box5;
    /* grid-column: 3/4;
    grid-row: 3/4; */
}